@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

.appContainer {
  min-height: 100vh;
  color: var(--text-main);
}

.mainContent {
  max-width: 80rem;
  margin: 0 auto;
  padding: 8rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;

}