// ChamferBox.module.scss

.box {
  --cut-size: 12px;

  position: relative;
  transition: filter 0.2s, transform 0.2s;

  isolation: isolate;

  @media (min-width: 768px) {
    --cut-size: var(--requested-cut-size);
  }
}

.chamfer {
  clip-path: polygon(var(--cut-size) 0,
      100% 0,
      100% calc(100% - var(--cut-size)),
      calc(100% - var(--cut-size)) 100%,
      0 100%,
      0 var(--cut-size));
}

.bevel {
  clip-path: polygon(0 0,
      100% 0,
      100% calc(100% - var(--cut-size)),
      calc(100% - var(--cut-size)) 100%,
      0 100%);
}

.clickable {
  cursor: pointer;
}

.hoverEffect {
  &:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
  }
}

.innerContent {
  width: auto;
  height: 100%;
}

.padded {
  padding: 1rem 1.25rem;

  @media (min-width: 768px) {
    &.chamfer {
      padding: 1.5rem calc(var(--cut-size) + 10px);
    }

    &.bevel {
      padding: 1.5rem 1rem calc(var(--cut-size) + 1rem) 1rem;
    }
  }
}