$accent: var(--accent);
$bg-dark: #050608;
$bg-card: #1a1d24;
$text-gray: #9ca3af;
$text-light-gray: #d1d5db;
$gray-500: #6b7280;


@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}