@keyframes pulse-glow {
  0% {
    text-shadow: 0 0 0 rgba(var(--tech-rgb), 0);
  }

  50% {
    text-shadow: 0 0 10px var(--tech-color);
  }

  100% {
    text-shadow: 0 0 0 rgba(var(--tech-rgb), 0);
  }
}

@keyframes tooltip-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.techWrapper {
  font-weight: 700;
  cursor: help;
  display: inline-block;
  transition: all 0.2s ease;
  color: var(--tech-color);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  animation: pulse-glow 2s infinite ease-in-out;

  &:hover {
    opacity: 1;
    border-bottom-style: solid;
    border-bottom-color: var(--tech-color);
    animation: none;
  }
}

.tokenKeyword {
  color: #c678dd;
  font-weight: bold;
}

.tokenString {
  color: #98c379;
}

.tokenType {
  color: #e5c07b;
}

.tokenFunction {
  color: #61afef;
}

.tokenPlain {
  color: #abb2bf;
}


.tooltipPortal {
  position: fixed;
  z-index: 9999;

  background-color: rgba(30, 30, 30, 0.95);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

  width: max-content;
  max-width: 400px;
  min-width: 250px;

  @media (max-width: 768px) {
    width: 95vw;
    max-width: 95vw;
    min-width: unset;
    white-space: normal;
    left: 10px !important; //Safe?
  }

  pointer-events: auto;

  opacity: 0;
  animation: tooltip-in 0.2s forwards;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.windowHeader {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.controls {
  display: flex;
  gap: 6px;

  &:hover .dot::after {
    opacity: 1;
  }
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: 1px solid rgba(0, 0, 0, 0.1);

  &::after {
    content: '';
    font-family: sans-serif;
    font-size: 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.1s ease;
  }
}

.red {
  background-color: #ff5f56;

  &::after {
    content: '×';
    font-size: 9px;
  }


  &:active {
    background-color: #bf4c46;
  }

}

.yellow {
  background-color: #ffbd2e;

  &::after {
    content: '−';
    font-size: 9px;
  }

}

.green {
  background-color: #27c93f;

  &::after {
    content: '+';
    font-size: 9px;
  }

}

.languageLabel {
  margin-left: auto;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.codeBlock {
  padding: 16px;
  font-family: 'Fira Code', 'Consolas', monospace;
  font-size: 0.85rem;
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0;
  user-select: text;
}