@use "@/styles/variables" as *;

.navBtn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: color 150ms ease;
  background-color: transparent;
  border: none;
  cursor: pointer;

  color: var(--text-muted);

  &:hover {
    color: var(--text-main);
  }
}

.active {
  color: var(--accent);

  &:hover {
    color: var(--accent);
  }
}